# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pipenv environment folders
/.venv/
/.env/
/venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SQLite database file
freelance_billing_machine.db



# Python virtual environments
env/
venv/
